<section class="py-5">
    <div class="container">
        <h3 class="section-title fw-bold text-center mb-5 title-bordered">Certificaciones</h3>
        {% for certification in certifications %}
            <div class="media mb-5 flex-column flex-lg-row bg-white shadow-sm">
                {% set image_src = get_image('card', certification) %}
                {% if image_src is not empty %}
                    <div class="ms-3 me-3">
                        <img class="entity-card-image py-2" src="{{ asset(image_src) }}" alt="">
                    </div>
                {% endif %}
                <div class="media-body p-4">
                    <h4>{{ certification.name }}</h4>
                    <div class="row">
                        <h5>
                            {{ certification.organization }} |
                            <span class="text-primary">
                                {{ certification.yearStarted }}
                                {% if certification.yearEnded %}
                                    - {{ certification.yearEnded }}
                                {% endif %}
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
