{{ form_start(form, {'attr': {'class': 'mt-1', 'autocomplete': 'off'}}) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.organization) }}
        {{ form_widget(form.organization, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.yearStarted) }}
        {{ form_widget(form.yearStarted, {'attr': {'class': 'form-control'}}) }}
        <small>{{ form_help(form.yearStarted) }}</small>
    </div>
    <div class="mb-3">
        {{ form_label(form.yearEnded) }}
        {{ form_widget(form.yearEnded, {'attr': {'class': 'form-control'}}) }}
        <small>{{ form_help(form.yearEnded) }}</small>
    </div>
    {% set image_types = get_image_types('certification') %}
    {% if image_types is not empty %}
        {{ include('cms/components/images_form.html.twig', {'object': certification} ) }}
    {% endif %}
    <button type="submit" class="btn btn-primary">Enviar</button>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
