{% extends 'cms/layout.html.twig' %}

{% page_setup {
    'title': 'Experiencias',
    'header': 'Experiencias',
    'subheader': 'Listado de experiencias laborales actualmente creadas',
    'breadcrumbs': [
        {
            'name': 'Educaciones',
            'main': true
        }
    ],
    'utilities': 'cms/experience/components/utilities.html.twig'
    } %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if data is empty %}
                        {{ include('cms/components/no-results.html.twig') }}
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                {% if dir == 'asc' %}
                                    {% set dir_class = '-up' %}
                                    {% set new_dir = 'desc' %}
                                {% elseif dir == 'desc' %}
                                    {% set dir_class = '-down' %}
                                    {% set new_dir = 'asc' %}
                                {% else %}
                                    {% set dir_class = '' %}
                                    {% set new_dir = '' %}
                                {% endif %}
                                {% set filter_query = get_filter_query(params, ['f']) %}
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Posición</th>
                                    <th>Organización</th>
                                    <th>Año de comienzo</th>
                                    <th>Año de finalización</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for experience in data %}
                                    <tr>
                                        <td>
                                            {{ include('cms/components/image_cell_table.html.twig', {'object': experience, 'type': 'card'}) }}
                                        </td>
                                        <td>{{ experience.position }}</td>
                                        <td>{{ experience.company }}</td>
                                        <td>{{ experience.monthYearStarted }}</td>
                                        <td>{{ experience.monthYearEnded|default('-') }}</td>
                                        <td class="table-action">
                                            <a href="{{ path('cms_experience_edit', {'id': experience.id}) }}"
                                               title="Editar">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{{ path('cms_experience_remove', {'id': experience.id}) }}"
                                               title="Eliminar">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ include(
                            'cms/components/pagination.html.twig',
                            paginationData|merge({'params': params, 'dir_class': dir_class, 'new_dir': new_dir, 'fitler_query': filter_query}),
                            false
                        ) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
