{{ form_start(form, {'attr': {'class': 'mt-1', 'autocomplete': 'off'}}) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.year) }}
        {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}
        <small>{{ form_help(form.year) }}</small>
    </div>
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.demo) }}
        {{ form_widget(form.demo, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
